.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-light);
  padding: 6px 32px;
  color: var(--color-green-dark);
  font-size: 16px;
  font-family: var(--font-aileron);
  border: none;
  cursor: pointer;

  &Border {
    border: 1px solid var(--color-green-dark);
  }

  &Max {
    gap: 20px;
    font-size: 22px;
    padding: 16px 103px;
  }
}
