.burger {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: var(--transition-general);

  &Open {
    background-color: var(--color-green-title);

    .burgerLine {
      background-color: var(--color-green-title);
      transform: rotate(90deg);
    }

    .burgerLine::before {
      background-color: var(--color-light);
      top: 0;
      transform: rotate(135deg);
    }
    .burgerLine::after {
      background-color: var(--color-light);
      top: 0;
      transform: rotate(55deg);
    }
  }

  &Line {
    position: absolute;
    display: block;
    width: 15px;
    height: 1.2px;
    background-color: var(--color-green-dark);
    border-radius: 2px;
    transition: var(--transition-general);

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-green-dark);
      border-radius: 2px;
      transition: var(--transition-general);
    }

    &::before {
      top: -3px;
    }
    &::after {
      top: 3px;
    }
  }
}
