.burger {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &Wrap {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 1.2px;
    background-color: var(--color-green-dark);
    border-radius: 2px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-green-dark);
      border-radius: 2px;
    }

    &::before {
      top: -3px;
    }
    &::after {
      top: 3px;
    }
  }
}
