.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 60px;

  &Reverse {
    grid-template-columns: 30px 1fr;
    .sliderSlider {
      order: 1;
    }
    .sliderControls {
      order: 0;
    }
  }

  &Slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &Wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  &Slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }

  &Controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
