@use "../../../src/app/mixins.scss" as *;

.dropdownButton {
  &Mark {
    width: 12px;
    height: 12px;
    border-width: 0 1px 1px 0;
    border-color: var(--color-light);
    border-style: solid;
    rotate: 45deg;
    border-radius: 0 0 2px 0;

    @include media(min-tab) {
      width: 26px;
      height: 26px;
      border-width: 0 3px 3px 0;
      border-color: var(--color-green-dark);
    }

    &Open {
      rotate: 225deg;
    }
  }
}
