.actionCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &Icon {
    width: 74px;
    height: 74px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    color: var(--color-green-title);
  }

  &Title {
    text-align: center;
    margin-bottom: 16px;
  }
}
