.allProducts {
  padding: var(--padding-section) 0;
  border-bottom: var(--border);

  &Container {
    display: flex;
    justify-content: space-between;
  }

  &Left {
    max-width: 550px;
  }

  &Right {
    max-width: 650px;
  }

  &Title {
    margin-bottom: 16px;
  }

  &Subtitle {
    margin-bottom: 40px;
  }

  &Categories {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 42px;
  }
}
