@use "../../../src/app/mixins.scss" as *;

.typography {
  &H1 {
    font-weight: 300;
    font-size: clamp(48px, 26.8732px + 5.6338vw, 108px);
    line-height: 110%;
    color: var(--color-light);
  }

  &H2 {
    font-size: clamp(24px, 20.28px + 1.01vw, 28px);
    font-weight: 300;
    line-height: 110%;
    font-family: var(--font-aileron);
    color: var(--color-green-title);
  }

  &H3 {
    font-size: clamp(40px, 34.1676px + 1.5595vw, 56px);
    font-weight: 300;
    line-height: 120%;
    font-family: var(--font-dihjauti);
    color: var(--color-green-dark);
  }

  &H4 {
    font-size: clamp(24px, 22.5966px + 0.3752vw, 28px);
    font-weight: 300;
    line-height: 110%;
    font-family: var(--font-aileron);
    color: var(--color-green-dark);
  }

  &H5 {
    font-size: 30px;
    font-weight: 300;
    line-height: 120%;
    font-family: var(--font-dihjauti);
    color: var(--color-green-dark);
  }

  &P {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    font-family: var(--font-aileron);
    color: var(--color-green-middle);
  }
}
