.dot {
  display: block;
  border: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;

  &Visible {
    display: block;
    width: 4px;
    height: 4px;
    rotate: 45deg;
    transition: var(--transition-general);

    &Light {
      background-color: var(--color-green-light);
      &Active {
        background-color: var(--color-green-dark);
      }
    }
    &Dark {
      background-color: var(--color-green-dark);
      &Active {
        background-color: var(--color-green-title);
      }
    }
  }
}
