.productCard {
  &Image {
    width: 100%;
    aspect-ratio: 26/33;
    background-color: var(--color-green-light);
    margin-bottom: 24px;

    &Ellipse {
      border-radius: 50%;
    }
  }

  &Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Title {
    text-transform: uppercase;
    margin-bottom: 10px;

    &Min {
      font-size: 22px;
    }
  }

  &WrapData {
    display: flex;
    justify-content: space-between;
    color: var(--color-green-dark);
  }

  &Price {
    font-weight: 700;
    font-size: 22px;
  }

  &Rating {
  }
}
