.slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  &Container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &Wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  &Slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }
}
