.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 30px;

  &Slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &Wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  &Slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }

  &Btn {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;

    &Prev {
      transform: scale(-1);
    }
  }

  &Arrow {
    max-width: 100%;
  }
}
