.reviews {
  padding: 46px 0;
  border-bottom: var(--border);

  &Wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &Product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 373px;
    height: 585px;
    background-color: var(--color-green-light);
    border-radius: 50%;
    padding: 40px 100px;

    img {
      max-height: 100%;
      object-fit: contain;
    }
  }

  &Info {
    max-width: 794px;
  }

  &Title {
    margin-bottom: 80px;
  }

  &Slider {
    margin-bottom: 32px;
  }

  &Caption {
    font-family: var(--font-aileron);
    color: var(--color-green-title);
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
  }
}
