@use "../../../src/app/mixins.scss" as *;

.features {
  position: relative;
  display: flex;
  background: linear-gradient(to right, #f2f6ef 50.01%, #e4ece0 50.01% 100%);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  border-bottom: var(--border);
  z-index: -1;

  @include media(tablet) {
    background: transparent;
    padding: 0;
  }

  &Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 110px;

    @include media(tablet) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &Left {
    @include media(tablet) {
      background: var(--color-light);
    }
  }

  &Image {
    position: absolute;
    bottom: -50px;
    max-width: 580px;

    @include media(tablet) {
      position: static;
    }
  }

  &Img {
    max-width: 100%;
  }

  &Right {
    @include media(tablet) {
      background: var(--color-green-light);
    }
  }

  .list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 46px;

    @include media(tablet) {
      gap: 32px;
      padding: 56px 16px;
    }

    &Item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 24px;
      overflow: hidden;
      padding-bottom: 10px;

      @include media(tablet) {
        flex-wrap: wrap;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: 0px;
        background-color: var(--color-green-dark);
        width: 100%;
        animation: featuresLine 2s var(--animation-delay);
        left: -100%;
      }
    }

    &Title {
      margin-bottom: 8px;
    }

    &Img {
      min-width: 74px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes featuresLine {
  100% {
    left: 100%;
  }
}

@keyframes featuresTitle {
  100% {
    top: 0;
  }
}
