.productCard {
  &Image {
    width: 100%;
    aspect-ratio: 26/33;
    background-color: var(--color-green-light);
    margin-bottom: 24px;
    padding: 40px 60px;

    &Min {
      padding: 15px 60px;
    }

    &Ellipse {
      border-radius: 50%;
    }
  }

  &Img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &Title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &WrapData {
    display: flex;
    justify-content: space-between;
    color: var(--color-green-dark);
  }

  &Price {
    font-weight: 700;
    font-size: 22px;
  }

  &Rating {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 22px;
    font-weight: 300;
  }

  &Stars {
    width: 116px;
  }

  &MinVariant {
    border: var(--border);

    .productCardImage {
      aspect-ratio: 61/64;
      border-bottom: var(--border);
      margin-bottom: 0;
    }

    .productCardInfo {
      padding: 24px;
    }

    .productCardTitle {
      font-size: 22px;
    }

    .productCardWrapData {
      flex-direction: column;
      gap: 10px;
    }
  }
}
