@use "../../../src/app/mixins.scss" as *;

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: var(--transition-general);

  @include media(min-tab) {
    position: absolute;
    top: -1500%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
  }

  &Open {
    @include media(min-tab) {
      top: 0;
    }
  }

  &List {
    display: flex;
    gap: 48px;

    @include media(min-tab) {
      padding: 20px;
      margin-top: 84px;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid var(--color-green-title);
    }
  }
}
