.bestProducts {
  border-bottom: var(--border);

  &Title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 100px 0 50px;
    border-bottom: var(--border);
  }

  &SubTitle {
    max-width: 812px;
    text-align: center;
  }

  &Container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &Item {
    padding: 32px;
    &:not(:last-child) {
      border-right: var(--border);
    }
  }
}
