.actionButtons {
  padding: var(--padding-section) 0;

  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &Item {
    position: relative;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 88px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #d9d9d9;
    }
  }
}
