:root {
  --color-light: #f2f6ef;
  --color-green-light: #e4ece0;
  --color-green-dark: #213721;
  --color-green-middle: #3c5e39;
  --color-green-title: #899f87;

  --border: 1px solid #c8d8c0;

  --transition-general: 0.3s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
