.actionButtons {
  padding: 96px 0;

  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &Item {
    position: relative;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 88px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #d9d9d9;
    }
  }
}

.subscribe {
  padding: 40px 0;
  background-color: var(--color-green-title);

  &Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &Title {
    font-family: var(--font-dihjauti);
    color: var(--color-light);
    font-size: 56px;
    font-weight: 300;
    line-height: 120%;
  }

  &Form {
    justify-self: end;
    max-width: 538px;
    width: 100%;
    height: 72px;
    display: grid;
    grid-template-columns: 1fr 88px;
    border: var(--border);
  }

  &Input {
    padding: 24px;
    border: none;
    background: #fff;
    border-right: var(--border);

    &::placeholder {
      color: var(--color-green-title);
      font-size: 20px;
    }
  }

  &Button {
    border: none;
    background: #fff;
    cursor: pointer;
  }
}
