.hero {
  height: 733px;
  background-color: #899f87;
  display: flex;

  &Left {
    width: 50%;
  }

  &Right {
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.features {
  display: flex;
  background: linear-gradient(to right, #f2f6ef 50.01%, #e4ece0 50.01% 100%);
  padding-top: 98px;
  border-bottom: var(--border);

  &Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &Left {
    padding-right: 10px;
  }

  &Title {
    overflow: hidden;

    &Line {
      position: relative;
      display: block;
      animation: featuresTitle 2s infinite cubic-bezier(0.175, 0.885, 0.32, 1.1);

      &First {
        top: 200px;
      }

      &Second {
        top: 300px;
      }
    }
  }

  &Image {
    max-width: 570px;
    position: relative;
    top: 50px;
  }

  &Img {
    max-width: 100%;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-left: 56px;

    &Item {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &Title {
      margin-bottom: 8px;
    }

    &Img {
      min-width: 74px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes featuresTitle {
  100% {
    top: 0;
  }
}

.bestProducts {
  border-bottom: var(--border);

  &Title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 100px 0 50px;
    border-bottom: var(--border);
  }

  &SubTitle {
    max-width: 812px;
    text-align: center;
  }

  &Container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &Item {
    padding: 32px;
    &:not(:last-child) {
      border-right: var(--border);
    }
  }
}

.about {
  &Container {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    border-bottom: var(--border);
    justify-content: space-between;
  }

  &Titles {
    max-width: 566px;
  }

  &Title {
    margin-bottom: 22px;
  }

  &Info {
    max-width: 638px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.brands {
  padding: 96px 0;

  &Title {
    margin-bottom: 40px;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &Img {
    max-width: 100%;
  }
}

.processing {
  background-color: var(--color-green-title);

  &Link {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    &:hover {
      .processingArrow {
        transform: scale(1.5);
        transition: 0.8s;
      }
    }
  }

  &Title {
    font-family: var(--font-dihjauti);
    font-size: 40px;
    font-weight: 300;
    color: var(--color-light);
  }

  &Arrow {
    transition: 0.8s;
  }
}

.diagnosis {
  padding: 96px 0;
  border-bottom: var(--border);

  &Container {
    display: flex;
  }

  &Image {
    min-width: 50%;
    display: flex;
    justify-content: center;
  }

  &ImageWrap {
    max-width: 348px;
  }

  &Img {
    margin-top: -45px;
    max-width: 100%;
  }

  &Info {
    max-width: 530px;
  }

  &Title {
    margin-bottom: 19px;
  }

  &Subtitle {
    margin-bottom: 10px;
  }

  &Text {
    margin-bottom: 30px;
  }
}

.allProducts {
  padding: 96px 0;
  border-bottom: var(--border);

  &Container {
    display: flex;
    justify-content: space-between;
  }

  &Left {
    max-width: 550px;
  }

  &Right {
    max-width: 650px;
  }

  &Title {
    margin-bottom: 16px;
  }

  &Subtitle {
    margin-bottom: 40px;
  }

  &Categories {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 42px;
  }
}

.reviews {
  padding: 46px 0;
  border-bottom: var(--border);

  &Wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &Product {
    max-width: 373px;

    img {
      max-width: 100%;
    }
  }

  &Info {
    max-width: 794px;
  }

  &Title {
    margin-bottom: 80px;
  }

  &Slider {
    margin-bottom: 32px;
  }

  &Caption {
    font-family: var(--font-aileron);
    color: var(--color-green-title);
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
  }
}

.actionButtons {
  padding: 96px 0;

  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &Item {
    position: relative;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 88px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #d9d9d9;
    }
  }
}

.subscribe {
  padding: 40px 0;
  background-color: var(--color-green-title);

  &Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &Title {
    font-family: var(--font-dihjauti);
    color: var(--color-light);
    font-size: 56px;
    font-weight: 300;
    line-height: 120%;
  }

  &Form {
    justify-self: end;
    max-width: 538px;
    width: 100%;
    height: 72px;
    display: grid;
    grid-template-columns: 1fr 88px;
    border: var(--border);
  }

  &Input {
    padding: 24px;
    border: none;
    background: #fff;
    border-right: var(--border);

    &::placeholder {
      color: var(--color-green-title);
      font-size: 20px;
    }
  }

  &Button {
    border: none;
    background: #fff;
    cursor: pointer;
  }
}
