.about {
  &Container {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    display: flex;
    border-bottom: var(--border);
    justify-content: space-between;
  }

  &Titles {
    max-width: 566px;
  }

  &Title {
    margin-bottom: 22px;
  }

  &Info {
    max-width: 638px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
