@use "../../../src/app/mixins.scss" as *;

.menuItem {
  &Link {
    display: inline-flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light);
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;

    @include media(min-tab) {
      width: 100%;
      font-size: 32px;
      color: var(--color-green-dark);
      justify-content: space-between;
    }
  }
}
