.menuItem {
  &Link {
    display: inline-flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light);
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &Mark {
    width: 12px;
    height: 12px;
    border-width: 0 1px 1px 0;
    border-color: var(--color-light);
    border-style: solid;
    rotate: 45deg;
    border-radius: 0 0 2px 0;
  }

  &Dropdown {
    background-color: var(--color-light);
    position: absolute;
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    height: 384px;
    flex-wrap: wrap;

    &Link {
      color: var(--color-green-middle);
      text-transform: capitalize;
      padding: 12px;

      &:hover {
        background-color: var(--color-green-light);
        color: var(--color-green-dark);
        -webkit-text-stroke: 0.5px var(--color-green-dark);
        text-stroke: 0.5px var(--color-green-dark);
      }
    }
  }
}
