.hero {
  position: relative;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--color-green-title) 0 50%,
    transparent 50% 100%
  );

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg) no-repeat center/cover;
    z-index: -1;
  }

  &Container {
    display: flex;
  }

  &Slider {
    max-width: 407px;
  }

  &Content {
    padding-top: 146px;
    max-width: 806px;
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    margin-bottom: 69px;
  }
}
