.hero {
  position: relative;
  width: 100%;
  background: var(--color-green-title);
  display: flex;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg) no-repeat center/cover;
  }

  &Slider {
    max-width: 407px;
  }

  &Content {
    position: relative;
    left: -17%;
    padding-top: 146px;
    max-width: 806px;
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    margin-bottom: 69px;
  }
}
