@use "../../../src/app/mixins.scss" as *;

.hero {
  background-color: var(--color-green-title);
  position: relative;
  z-index: 0;

  &Wrap {
    position: relative;
    background: linear-gradient(
      90deg,
      var(--color-green-title) 0 50%,
      transparent 50% 100%
    );

    @include media(tablet) {
      background: transparent;
    }

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(../../../public/hero_bg.jpg) no-repeat center/cover;
      z-index: -1;

      @include media(tablet) {
        width: 100%;
      }
    }
  }

  &Container {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 50px;

    @include media(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &Left {
    position: relative;

    @include media(tablet) {
      order: 1;
    }
  }

  &Slider {
    &Wrap {
      position: absolute;
      top: 85px;

      @include media(tablet) {
        position: static;
      }
    }

    &Item {
      display: flex;
      height: 700px;
      padding: 0 30px;
    }

    &Img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      rotate: -8deg;
      scale: 0.9;
    }
  }

  &Content {
    padding-top: 146px;
    flex-basis: 60%;

    @include media(tablet) {
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    margin-bottom: 69px;
  }
}
