.hero {
  position: relative;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--color-green-title) 0 50.01%,
    transparent 50% 100%
  );

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg) no-repeat center/cover;
    z-index: -1;
  }

  &Container {
    display: flex;
  }

  &Left {
    position: relative;
    flex-basis: 40%;
    flex-shrink: 0;
    min-width: 400px;
  }

  &SliderWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 85px;
  }

  &SliderItem {
    width: 300px;
    height: 700px;
  }

  &SliderImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    rotate: -8deg;
  }

  &Slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &Content {
    padding-top: 146px;
    flex-basis: 60%;
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    margin-bottom: 69px;
  }
}
