.hero {
  position: relative;
  background: linear-gradient(
    90deg,
    var(--color-green-title) 0 50.01%,
    transparent 50% 100%
  );

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg) no-repeat center/cover;
    z-index: -1;
  }

  &Container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &Left {
    position: relative;
  }

  &Slider {
    &Wrap {
      position: absolute;
      top: 85px;
    }

    &Item {
      display: flex;
      height: 700px;
      padding: 0 30px;
    }

    &Img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      rotate: -8deg;
      scale: 0.9;
    }
  }

  &Content {
    padding-top: 146px;
    flex-basis: 60%;
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    margin-bottom: 69px;
  }
}
