.hero {
  position: relative;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--color-green-title) 0 50.01%,
    transparent 50% 100%
  );

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg) no-repeat center/cover;
    z-index: -1;
    font-size: 0;
  }

  &Container {
    display: flex;
  }

  &Slider {
    flex-basis: 40%;
    flex-shrink: 0;
    min-width: 400px;
  }

  &Content {
    flex-basis: 60%;
    padding-top: 146px;
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    margin-bottom: 69px;
  }
}
