.hero {
  background-color: #899f87;
  display: flex;

  &Left {
    width: 50%;
  }

  &Right {
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../../../public/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &Content {
    position: relative;
    left: -17%;
    padding-top: 146px;
    max-width: 806px;
  }

  &Title {
    margin-bottom: 90px;
  }

  &Button {
    width: 365px;
    margin-bottom: 69px;
  }
}
