.review {
  max-width: 100%;

  &Stars {
    max-width: 243px;
    margin-bottom: 40px;
  }

  &Text {
    color: var(--color-green-dark);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1.6px;
  }
}
