.footer {
  &Header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &Address {
    text-align: center;
    font-weight: 400;

    &Logo {
      margin-bottom: 52px;
    }

    &Title {
      font-size: 20px;
      color: var(--color-green-title);
    }

    &Time {
      font-size: 22px;
      color: var(--color-green-middle);
      margin-bottom: 10px;
    }
  }

  &Nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    text-align: center;

    &Title {
      color: var(--color-green-title);
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 24px;
    }

    &Item {
      font-size: 22px;
      color: var(--color-green-dark);
      margin-bottom: 18px;
    }
  }
}

.socialIcons {
  display: inline-flex;
  gap: 18px;
}
