.footer {
  &Header {
    border-bottom: var(--border);
  }

  &Wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &Address {
    border-right: var(--border);
    text-align: center;
    font-weight: 400;

    &Logo {
      margin-bottom: 52px;
    }

    &Title {
      font-size: 20px;
      color: var(--color-green-title);
    }

    &Time {
      font-size: 22px;
      color: var(--color-green-middle);
      margin-bottom: 10px;
    }
  }

  &Nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    text-align: center;

    &Title {
      color: var(--color-green-title);
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 24px;
    }

    &Column {
      padding-bottom: 40px;

      &:not(:last-child) {
        border-right: var(--border);
      }
    }

    &Item {
      font-size: 22px;
      color: var(--color-green-dark);
      margin-bottom: 18px;
    }
  }

  &Side {
    position: absolute;
    left: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 24px;
    writing-mode: vertical-rl;
    color: var(--color-green-dark);
    text-transform: uppercase;
    font-size: 12px;
  }

  &Footer {
    padding: 20px 0;
    font-size: 18px;
    color: #617c5f;
    font-weight: 400;
  }

  &FooterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &AuthorLink,
  &DocsLink {
    color: var(--color-green-dark);
  }

  &AuthorLink {
    font-weight: 600;
  }

  &Docs {
    display: flex;
    gap: 40px;
  }
}

.socialIcons {
  display: inline-flex;
  gap: 18px;
}
