.footer {
  &Header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &Address {
    text-align: center;
    font-weight: 400;

    &Logo {
      margin-bottom: 52px;
    }

    &Title {
      font-size: 20px;
      color: var(--color-green-title);
    }

    &Time {
      font-size: 22px;
      color: var(--color-green-middle);
      margin-bottom: 10px;
    }
  }
}

.socialIcons {
  display: inline-flex;
  gap: 18px;
}
