.categoriesButton {
  background-color: transparent;
  padding: 13.5px 26px;
  border: var(--border);
  border-radius: 40px;
  font-size: 18px;
  color: var(--color-green-title);
  font-weight: 400;
  cursor: pointer;

  &Active {
    color: var(--color-green-dark);
    text-shadow: 0.6px 0px 0px var(--color-green-dark),
      -0.6px 0px 0px var(--color-green-dark);
    background-color: var(--color-green-light);
  }
}
