.brands {
  padding: var(--padding-section) 0;

  &Title {
    margin-bottom: 40px;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &Img {
    max-width: 100%;
  }
}
