.dot {
  display: block;
  border: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;

  &Visible {
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--color-green-dark);
    rotate: 45deg;
    transition: var(--transition-general);
  }

  &Light {
    &Active {
      background-color: var(--color-green-dark);
    }
  }
  &Dark {
    &Active {
      background-color: var(--color-green-title);
    }
  }
}
