.dot {
  display: block;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: transparent;

  &Visible {
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--color-green-dark);
    rotate: 45deg;
  }
}
