.header {
  display: flex;
  justify-content: space-between;
  height: 84px;
  align-items: center;
  color: var(--color-light);
  text-transform: uppercase;

  &Menu {
  }

  &UserPanel {
    display: flex;
    gap: 48px;
  }
}
