.header {
  display: flex;
  justify-content: space-between;
  height: 84px;
  align-items: center;
  color: var(--color-light);
  text-transform: uppercase;

  &RightWrap {
    // width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }

  &UserPanel {
    display: flex;
    gap: 48px;
  }
}
