@use "../../../src/app/mixins.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &Container {
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
    color: var(--color-light);
    text-transform: uppercase;
  }

  &Logo {
    z-index: 200;
    transition: var(--transition-general);

    &Open {
      @include media(min-tab) {
        color: var(--color-green-title);
      }
    }
  }

  &RightWrap {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    @include media(tablet) {
      width: auto;
    }
  }

  &UserPanel {
    display: flex;
    gap: 48px;
    z-index: 200;

    @include media(min-tab) {
      gap: 16px;
      color: var(--color-green-title);
    }

    &Login {
      @include media(min-tab) {
        display: none;
      }
    }

    &Shop {
      display: none;

      @include media(min-tab) {
        display: block;
      }
    }
  }

  &Burger {
    display: none;

    @include media(min-tab) {
      display: block;
    }
  }
}
